html {
  --primary-color:#08367c;
  --secondary-color:#A8EB12;
  --primary-text-color: #ffffff;
  --secondary-text-color:#20639b;
}
/* fn + F9 formating */
body{
  background; white;
  background-size: contain; /*contain*/
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  height: 100 vh; /* viewport heights */
}
h1 {
  color: var(--primary-color);
  font-size:4.209em;
  background-color: grey;
  padding: 2rem;
}
h2{
  font-size:3.157em ;
}
h3{
  font-size:2.369em;
}
p,
li {
  font-size:1.777em;
}

figure,
img {
  max-width: 100%;
  justify-content: space-between;
}
/* Limit the width of all 'figures' and 'imgs' to be most 100% of the size of the parent*/
header {
  background-color: var(--primary-text-color);
  padding: 1rem;
  text-align: center;
}
/* General child selector */

ul{
  padding: 0;
  list-style-type: none;
}
p{
  /*first number is top and bottom and second number is left and right*/
  padding: 0 2.5rem;
  text-align: center;
}
footer{
  background-color: #000000;
  color: var(--primary-text-color);
  padding: 1rem;
  text-align: center;
}
.button{
  background: var(--secondary-text-color);
  color: var(--primary-text-color);
  border-radius: 4px;
  text-decoration: none;
  padding: 0.5rem;
  }
.button a{
  text-decoration: none;
  color: var(--primary-text-color);
}
.flex{
  display: flex;
}
/* .button--circle{
  border-radius: 50%;
  width: 4rem;
  heigth: 4rem;
}*/
.xs--hidden{
  display:none;
}
.justify-space-around{
  justify-content: space-around;
}
@media screen and (min-width: 885px){
  #hero{
    background: url(https://source.unsplash.com/random/800x600) top center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 40vh;
  }
  .flex--sm{
    display: flex;
  }
}
